@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo:#be51a7;
    --branco: #8e54da;
    --laranja: #41296e;
    --azul-degrade: linear-gradient(97.54deg, #d15da1 35.49%, #d45ea7 165.37%);
    --fonte-principal: "Poppins";
    --azul: #b8318f;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}